version: "3.9"
networks:
  db: {}
services:
 randomizer-service:
  image: brecht404/python-api
  ports:
    - "8000:8000"
  networks:
    - db
  depends_on:
    - database

 database:
   image: mysql
   environment:
     MYSQL_ROOT_PASSWORD: passW1!
     MYSQL_USER: brecht
     MYSQL_PASSWORD: pass
     MYSQL_DATABASE: users
   networks:
     - db
